{{page-title "Learn to Dev"}}


<header class="header">
  <h1>Learn To Dev</h1>
  <hr class="hr1">
  <hr class="hr2">
  <hr class="hr1">
</header>
<main id="main" class="main">
  <p class="intro">So you want to get into building things for the web? That’s awesome! Here are some resources to get you started; you’ll find websites, videos, podcasts, books, and other things! I encourage you to try some things out and see what works best for you.</p>
  
  <ul role="list" class="cards">
    <li><a href="https://www.freecodecamp.org/" rel="external">
    <span class="link__badge"><span>Tutorials</span></span>
    <span class="link__text">freeCodeCamp</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://web.dev/learn/" rel="external">
    <span class="link__badge"><span>Courses</span></span>
    <span class="link__text">web.dev</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://codepen.io" rel="external">
    <span class="link__badge"><span>Website</span></span>
    <span class="link__text">CodePen</span>
    <span class="link__cost-indicator"><span>free | paid</span></span>
    </a></li>
    <li><a href="https://www.a11yproject.com/" rel="external">
    <span class="link__badge"><span>Website</span></span>
    <span class="link__text">The A11y Project</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://vanillajsacademy.com/" rel="external">
    <span class="link__badge"><span>Workshops</span></span>
    <span class="link__text">Vanilla JS Academy</span>
    <span class="link__cost-indicator"><span>paid</span></span>
    </a></li>
    <li><a href="https://wesbos.com/" rel="external">
    <span class="link__badge"><span>Courses</span></span>
    <span class="link__text">Wes Bos</span>
    <span class="link__cost-indicator"><span>free | paid</span></span>
    </a></li>
    <li><a href="https://glitch.com/" rel="external">
    <span class="link__badge"><span>Website</span></span>
    <span class="link__text">Glitch</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://www.codenewbie.org/podcast" rel="external">
    <span class="link__badge"><span>Podcast</span></span>
    <span class="link__text">CodeNewbie</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://topenddevs.com/podcasts/javascript-jabber" rel="external">
    <span class="link__badge"><span>Podcast</span></span>
    <span class="link__text">Javascript Jabber</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://gitimmersion.com/" rel="external">
    <span class="link__badge"><span>Tutorial</span></span>
    <span class="link__text">Git Immersion</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://wordpress.com/learn/" rel="external">
    <span class="link__badge"><span>Website</span></span>
    <span class="link__text">Learn WordPress</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
    <li><a href="https://css-tricks.com/" rel="external">
    <span class="link__badge"><span>Website</span></span>
    <span class="link__text">CSS Tricks</span>
    <span class="link__cost-indicator"><span>free</span></span>
    </a></li>
  </ul>
</main>
<footer class="footer">
  <p><small>Made with ❤️ by <a href="https://github.com/melsumner" rel="external">Melanie Sumner</a></small></p>
  <p><small>Hosted by <a href="https://netlify.com">Netlify</a>
  </small></p>
  <p><small>Want to add a resource? <a href="https://github.com/melsumner/learntodev" rel="external">PRs welcome!</a></small></p>
</footer>
